
Vivado/
Vivado_HLS/ug871-design-files.zip
Vivado_HLS/
abakus/
docker/
hls_synthesis/
LSTM_test/republic_sequences.txt
LSTM_test/char_sequences.txt
MFCC/solution1
MFCC/Debug
vivado_hls.log
MFCC/MFCC_HLS.zip
LSTM_test/input_data
LSTM_test/voice_recognition/input_data
LSTM_test/voice_recognition/SpeechCmdRecognition
LSTM_test/speech_commands_v0.01
